<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
  </head>
  <body>
    <div id="wrapper"></div>
    <video width="1024" height="768" style="display: none;"></video>
    <canvas width="1024" height="768"></canvas>
    <svg width="1024" height="768"></svg>
  </body>
</html>
