<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <video width="640" height="480"></video>
    <svg width="640" height="480">
      <style>
        .box {
          stroke-width: 2;
          fill: none;
          stroke: red;
        }
        .label {
          font-size: 12px;
          fill: white;
          text-anchor: middle;
        }
        .label-rect {
          fill: black;
        }
      </style>
    </svg>
  </body>
</html>
